{% extends 'fleet/base.html' %}

{% block content %}
    <div class="right_col" role="main">
            <div class="">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="text-center"> Destinations </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="destination-datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th class="text-center">Edit</th>
                          </tr>
                        </thead>

                        <tbody>
                            {% for destination in destinations %}
                                <tr>
                                    <td>{{ destination.name }}</td>
                                    <td  class="text-center">
                                            <a href="{% url 'destinations-update' destination.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="{% url 'destinations-delete' destination.pk %}" class="btn btn-warning btn-xs"><i class="fa fa-remove"></i> Delete </a>

                                    </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
{% endblock content%}