{% extends 'fleet/base.html' %}

{% block content %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">U.S.S.D. Bus Booking System</h1>
      <p class="lead my-3">The project looks into how you can use Africa’s Talking U.S.S.D. to create a Bus Booking System, this can be done when a travel company would like its customers to book their busses for travelling via U.S.S.D. therefore providing convenience to its clientele.</p>
    </div>
  </div>

    <h3 class="pb-4 mb-4 fst-italic border-bottom text-center">
        Where to Start
      </h3>

    <div class="row mb-2">
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 1</strong>
                  <h3 class="mb-1">Destinations</h3>
                  <ul>
                  <li>Click on destinations menu</li>
                  <li>Click on "Add" to add a new destination</li>
                  <li>Enter destination's name</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 2</strong>
              <h3 class="mb-1">Routes</h3>
              <ul>
              <li>Click on destination routes menu</li>
              <li>Click on "Add" to add a route</li>
              <li>Enter start location of the route</li>
              <li>Select the trip's destination</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 3</strong>
          <h3 class="mb-1">Routes Travel Dates</h3>
          <ul>
          <li>Click on routes travel dates menu</li>
          <li>Click on "Add" to add a route's travel date</li>
          <li>Select a route</li>
          <li>Enter the travel date</li>
        </ul>
        </div>
      </div>
    </div>
    </div>

<div class="row">
    <div class="col-md-12">
      <article class="blog-post">
        <h3 class="pb-4 pt-4 mb-4 mt-4 fst-italic border-bottom border-top text-center">Booking a Bus Route</h3>
        <p>Steps for a cutomer to make a travel booking:</p>
        <ul>
          <li>Navigate to Africa's Talking Simulator URL: https://simulator.africastalking.com:1517/</li>
          <li>Enter a correct phone number</li>
          <li>Click on "USSD"</li>
          <li>Enter the USSD code you had created e.g. *384*58965#</li>
          <li>Select a destination you want to travel to</li>
          <li>Select a route you will use travel to the destination</li>
          <li>Select the date you want to travel</li>
          <li>You will be notified once the booking is successfully placed</li>
        </ul>
          <br>
        <p>Viewing bookings made:</p>
        <ul>
          <li>Click on bookings menu</li>
          <li>Click on "View" to view bookings made</li>
        </ul>
      </article><!-- /.blog-post -->

    </div>

  </div><!-- /.row -->

</main>


{% endblock content%}