{% extends 'fleet/base.html' %}

{% block content %}
    <div class="right_col" role="main">
            <div class="">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="text-center"> Destination Route Travel Date </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="route_travel_date-datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Travel Date</th>
                            <th class="text-center">Edit</th>
                          </tr>
                        </thead>

                        <tbody>
                            {% for route_travel_date in route_travel_dates %}
                                <tr>
                                    <td>{{ route_travel_date.route.start }}</td>
                                    <td>{{ route_travel_date.route.destination }}</td>
                                    <td>{{ route_travel_date.travel_date }}</td>
                                    <td  class="text-center">
                                            <a href="{% url 'route-travel-dates-update' route_travel_date.pk %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="{% url 'route-travel-dates-delete' route_travel_date.pk %}" class="btn btn-warning btn-xs"><i class="fa fa-remove"></i> Delete </a>
                                    </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
{% endblock content%}